* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.map {
  width: 320px;
  height: 468px;
}

.map:active, .map:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.popover-body {
    position:absolute;
    min-width: 180px;
    text-align: center;
    background: rgba(192, 240, 242, 0.6);
    border-radius: 1em/5em;
}

.dialogo-carga--dialogo {
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    color: #222;
    font-size: 16pt;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Icono de carga animado */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 4px;
  border: 4px solid #015875;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #015875 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circulo {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  flex-shrink: 0;
}

.referencia {
  display: flex;
  align-items: center;
  gap: 5px;
}

.mapa__cuerpo {
  display: flex;
  flex-flow: column nowrap;

  background: #015875;
  color: white;
  height: 100%;
}

.mapa__titulo {
  text-align: center;
  padding: 10px;
  font-size: 1.1rem;
  min-height: 50px;
}

.mapa__select {
  max-width: 50%;
  align-self: center;
}

.mapa__controles {
  align-self: center;
  margin-top: 10px;
}

.mapa__dialogo-carga {
  align-self: center;
  justify-self: center;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 320px;
  height: 468px;
}

.mapa__mapa-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mapa__referencias {
  align-self: flex-end;

  display: flex;
  justify-content: flex-start;
  gap: 20px;
  flex-flow: row wrap;

  margin: 10px;
  padding: 10px;
  border: 1px solid #44d0ff;
  border-radius: 5px;
}

@media screen
  and (min-width: 1680px)
{
  .map {
    width: 480px;
    height: 700px;
  }

  .mapa__dialogo-carga {
    width: 480px;
    height: 700px;
  }
}